.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services-card {
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-size: 26px;
    color: #565050;
}

.services-card img {
    padding-bottom: 3%;
    max-width: 60%;
}