.banner {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0;
  background-image: url("../../assets/images/banner.png");
  background-repeat: no-repeat;
  text-align: center;
  padding: 5%;
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: auto;
}
