.home-banner {
  display: grid;
  padding: 5%;
  min-height: 520px;
  height: 100%;
  background-repeat: round round;
  background-image: linear-gradient(#f5ad4b, #ea6b0b);
}

.home-banner .banner-video iframe {
  width: 100%;
  height: 100%;
}

.description {
  font-family: "Rubik";
  color: #fff;
  font-size: 1em;
  line-height: 21px;
  text-align: justify;
}

@media (min-width: 912px) {
  .home-banner {
    background-image: url("../../../../assets/images/banner.png");
    background-repeat: no-repeat;
    min-height: 520px;
    display: grid;
    grid-template-columns: 49% 49%;
    padding: 5%;
    grid-column-gap: 40px;
  }

  .home-banner .banner-video iframe {
    width: 100%;
    height: 95%;
  }
}
