.action-card{
   border-radius: 10%;
   margin: 3% 0% 3% 2%;
}

.card-img {
    width: 70%;
}

.image{
    border-radius: 10px 10px;
}

.card-info{
    font-family: 'Rubik', sans-serif;
    text-align: left;
  
}

