.cards{
   border-radius: 10%;
   display: flex;
   margin: 3% 0%;

}

.fix {
    margin-left: -30%;
}

.card-img {
    width: 70%;
}

.image{
    border-radius: 10px 10px;
}

.card-info{
    margin-left: 2%;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    width: 75%;
}

.card-title {
    font-weight: 700;
}
