.how-to-contribute {
  display: grid;
  background-color: #e49600;
  padding: 5%;
  margin-top: 44px;
}

.how-to-contribute h2 {
  text-align: center;
  font-family: "Rubik";
  line-height: 47px;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 44px;
  margin-bottom: 44px;
}

.how-to-contribute .icons {
  display: grid;
  grid-gap: 24px;
  margin-left: 36px;
  margin-right: 14px;
}

@media (min-width: 400px) {
  .how-to-contribute .icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 912px) {
  .how-to-contribute {
    display: grid;
  }

  .how-to-contribute h2 {
    text-align: center;
    font-family: "Rubik";
    line-height: 47px;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 44px;
  }

  .how-to-contribute .icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-left: 36px;
    margin-right: 14px;
  }
}
