.card {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card img {
  width: 54%;
  justify-self: center;
}

.card label {
  color: #565050;
  text-transform: uppercase;
  font-family: "Rubik";
  text-align: center;
  font-size: 1em;
  justify-self: center;
  font-weight: bold;
}

.card:hover {
  color: #ea6b0b;
}
