.services {
  display: grid;
}

.services h2 {
  text-align: center;
  font-family: "Rubik";
  line-height: 47px;
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 44px;
  margin-bottom: 44px;
}

.services .services-card {
  display: grid;
  grid-gap: 24px;
  margin-left: 36px;
  margin-right: 14px;
}

@media (min-width: 400px) {
  .services .services-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 912px) {
  .services {
    display: grid;
  }

  .services h2 {
    text-align: center;
    font-family: "Rubik";
    line-height: 47px;
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 44px;
  }

  .services .services-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-left: 36px;
    margin-right: 14px;
  }
}

@media (min-width: 1919px) {
  .services {
    padding: 2%;
  }

  .services .services-card {
    margin-top: 8%;
  }
}
