@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

.menu {
    height: 130px;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.menu-itens {
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-weight: 500;
    color: #EA6B0B;
}

.menu-itens:hover {
    color: #BA902B;
}
