@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

.header {
    height: 110px;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu-itens {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-itens a,
.menu-itens li {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #EA6B0B;
    margin-left: 10px;
}

.sub-menu-itens {
    display: none;
    list-style: none;
}

.menu-itens li a:hover {
    color: #BA902B;
}

li:hover > .sub-menu-itens {
    display: block;
    color: #EA6B0B;
}

.sub-menu-itens {
    background: #FCFCFC;
    text-align: center;
    width: 229px;
}
