section {
  padding: 0px;
  text-align: center;
}

.where-we-are {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.map {
  width: 100%;
    display: flex;
    justify-content: center;
}

.map-title {
  font-family: Rubik;
  font-size: 25px;
  color: #3e3939;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.map-description {
  font-family: Karla;
  font-size: 15px;
  color: #464040;
  margin: 0 0 0 40px;
}

.map-description-itens {
   display: flex;
   align-items: center;
   
}
.map-description-itens p {
   padding-left: 10px;
   
}

.map-description-itens img {
  width: auto;
    height: auto;
    max-width: 26px;
    max-height: 26px;
}

.social-itens img{
  margin: 0 5px 0 0;
}