#footer {
    width: 100%;
    height: 60px;
    background-color: #EA6B0B;
    color: #eeeeee;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
