#footer {
  width: 100%;
  height: 60px;
  background-color: #ea6b0b;
  color: #eeeeee;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.link {
  color: #fff;
  font-weight: bolder;
}

.link:hover {
  border-bottom: 1px solid #722183;
  color: #722183;
}

.text-footer {
  text-align: center;
  color: #fff;
  padding-left: 4%;
  padding-right: 4%;
}
