.cards-actions {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  font-family: "Rubik";
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .cards-actions {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .cards-actions {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-actions {
  background: #e49600;
  border-radius: 8%;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card-actions:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card-actions img {
  width: 100%;
}

.add-border {
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.card-actions h2 {
  font-weight: bold;
  font-size: 1em;
  padding: 0 1% 0 1%;
}

.card-actions p {
  font-size: 0.8em;
  padding: 0 1% 1% 1%;
}
