section {
    padding: 0;
    text-align: center;
}

.where-we-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.map {
    width: 100%;
    display: flex;
    justify-content: center;
}

.map-title {
    font-family: Rubik, sans-serif;
    font-size: 25px;
    color: #3e3939;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.map-description {
    font-family: Karla, sans-serif;
    font-size: 15px;
    color: #464040;
    margin: 0 0 0 40px;
}

.map-description-itens {
    display: flex;
    align-items: center;

}

.map-description-itens p {
    padding-left: 10px;

}

.map-description-itens img {
    width: auto;
    height: auto;
    max-width: 26px;
    max-height: 26px;
}

.social-itens  {
    display : flex ;
    flex-direction: row;
    margin: 0px 0px 0px 5px;
}

.social-itens img {
    width: 5%;
    height: 5%;
    margin: 0px 10px 0px 0px;
    min-width: 30px;
    min-height: 30px;
}

.map iframe{
    width: 60%;
    height: 300px;
    border: none;
    frameborder: 0px;
                    
}

@media (max-width: 912px){
    .map{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .map iframe{
        width: 100%;
    }

    .map-description{
        margin: 0px;
    }

}